

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-brand {
	font-size: 2em;
}

.navbar-brand img {
	height: 1.5em;
	float:left;
	margin-right:30px;
	margin-top:-10px;
}















